<div class="fn-list-static-module">
    <h1 class="page-heading">Contacts List page</h1>

    <div class="contacts-wrapper">
        <div class="contact-details fn-contact-details"></div>
        <ul class="contacts-list fn-contacts-list"></ul>
    </div>

    <a href="#" data-url="/">Go back to Home</a>
</div>