.contact-details {
    .list-item-row {
        padding-bottom: 10px;
    }

    .photo {
        width: 300px;
        margin: 10px 30px 20px 0;
        vertical-align: middle;
    }

    .label {
        padding-right: 5px;
        color: #898989;
    }

    .name {
        font-size: 24px;
        font-weight: bold;
    }
}