.contacts-wrapper {
    @include clearfix;

    height: 700px;
}

.contact-details {
    float: left;
    width: 60%;
}

.contacts-list {
    float: right;
    width: 35%;
    height: 90%;
    margin-bottom: 30px;
    overflow-y: scroll;
    border-left: 1px solid #ddd;
    padding: 0 10px;
}
