.list-item {
    padding: 15px;

    &:hover {
        background-color: #ddd;
        cursor: pointer;
    }

    .photo {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        vertical-align: middle;
        border-radius: 50%;
    }

    .phone-label, .email-label {
        color: #898989;
    }
}